// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;


$green: #46C190;
$gray: #8A8A8A;
$light-gray: #C4C4C4;
$card-gray: #F8F9FA;
$dark-gray: rgb(118, 118, 118);
