<div class="index-container">
<div class="col-6">
  <div class="index-flat-card">
    <div class="flat-card-image" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tanbackground-1553877785.jpg?resize=480:*')"></div>
    <div class="flat-card-content">
      <!--       if statement & checkbox image -->
      <div class="flat-card-title">
        <h4>Event Name</h4>
      </div>
      <div class="flat-card-actions">
        <p>Link to Event Show Page</p>
      </div>
    </div>
  </div>
</div>
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiYnJpYW53YXRyb2JhIiwiYSI6ImNqem1sNmxmNTA5dHozam54OHY2aDN1dHYifQ.P5oQPUD8jNjgNkUOKR6dtg'>

</div>


