
<div class="col-8">
  <div class="index-flat-card">
    <div class="flat-card-image" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/tanbackground-1553877785.jpg?resize=480:*')"></div>
    <div class="flat-card-content">
<!--       if statement & checkbox image -->
      <div class="flat-card-title">
        <h4>Event Name</h4>
      </div>
      <div class="flat-card-actions">
        <p>Link to Event Show Page</p>
        <i class="fa fa-pencil"></i>
        <i class="fa fa-trash-o"></i>
      </div>
    </div>
  </div>
</div>
