.bannerevent {
  background-size: cover;
  padding: 300px 0;
  background-attachment: fixed;
  background-position: 0px -200px;
}

#containerIntro h2, #containerIntro p {
  display: inline;
}

#containerBio i, #containerBio p {
  display: inline;
}

