.banner h1 {
    font-size: 38px;
}

.banner {
    background-image: image-url("drella.png");
    background-size: cover;
    color: white;
    height: 400px;
    padding: 120px 0;
    margin: 0;
}

.banner-text {
  padding: 16px;
}
