.index-flat-card {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.index-container {
  display: flex;
  justify-content: space-between;
}

.search-details {
  padding: 20px;
  padding-right: 20%;
  border-bottom: 2px solid $green;
  .algolia-places {
    width: 450px !important;
    margin-right: 30px !important;
  }
  .datepicker {
    width: 425px !important;
    margin-right: 30px !important;
  }

  .category-choice {
    width: 100px;
    height: 60px;
    font-size: 12px;
    // padding: 5px 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid $dark-gray 2px;
    opacity: .4;
    flex: 0 0 0%;
    text-align: center;
    align-items: center;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    &.active {
      background: #46C190;
      color: white;
      border: solid $green 2px;
      opacity: 1;
    }
  }
}

.card-product {
  overflow: hidden;
  height: 175px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 12px;
}

.card-product img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-product-details a {
  color: #696969;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.card-product-details h2 {
  // font-family: 'Saira Semi Condensed', sans-serif;
  font-family: 'Life Savers', cursive;
}

.card-product .card-product-infos {
  padding: 16px;
  height: 70%;
  width: 100%;
}

.card-product .card-product-price {
  height: 30%;
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



